@font-face {
  src: url("../assets/fonts/AvenirNextRegular.otf");
  font-family: "AvenirNextRegular";
}

@font-face {
  src: url("../assets/fonts/AvenirNextDemi.otf");
  font-family: "AvenirNextDemiBold";
}

@font-face {
  src: url("../assets/fonts/AvenirNextBold.otf");
  font-family: "AvenirNextBold";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 169px;
  background-color: #ffffff;
  padding: 0 5vw;
}

.header__logo {
  display: block;
  height: 48px;
  padding: 8px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #afafaf;
}

.header__list-item-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  font-family: "AvenirNextRegular";
  font-weight: bold;
}

.header__list-item--active {
  color: #ffffff;
}

.header__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__search-icon {
  position: absolute;
  color: #323232;
  top: 15px;
  left: 12px;
}

.header__search-input {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  height: 49px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 8px;
  text-indent: 36px;
  color: #323232;
}

.header__search-input::-webkit-input-placeholder {
  color: #323232;
}

.header__search-input:-ms-input-placeholder {
  color: #323232;
}

.header__search-input::-ms-input-placeholder {
  color: #323232;
}

.header__search-input::placeholder {
  color: #323232;
}

.header__search-input:focus {
  border: 2px solid #0095ff;
  outline: none;
}

.header__button {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "AvenirNextDemiBold";
  line-height: 13px;
  width: 224px;
  height: 48px;
  border-radius: 4px;
  background-color: #0095ff;
  border: none;
  color: #ffffff;
}

.header__button:hover {
  background-color: #0065ad;
  outline: none;
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  outline: none;
}

.header__button--plus {
  font-family: "AvenirNextRegular";
  font-size: 32px;
  margin-right: 8px;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  z-index: 2;
}

.header__image--create {
  width: 48px;
  height: 48px;
  -webkit-clip-path: rect(0px, 200px, 200px, 0px);
          clip-path: rect(0px, 200px, 200px, 0px);
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 3.125vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-right: 56px;
  }
  .header__list {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__list-item {
    font-family: "AvenirNextBold";
    font-size: 24px;
    line-height: 32px;
    width: 80px;
    margin-right: 56px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 12.5vw;
  }
}

.video__player-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.video__element {
  height: auto;
  width: 320px;
  width: 100%;
}

.video__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 0 16px;
  bottom: 8px;
  width: 100%;
}

.video__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.video__play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #323232;
  width: 52px;
  height: 36px;
  border-radius: 4px;
  opacity: 0.95;
}

.video__scrubber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #323232;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0 8px;
  height: 36px;
  border-radius: 4px;
  opacity: 0.5;
}

.video__progBar {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  margin: 0 16px;
}

.video__progBar::-webkit-progress-bar {
  background-color: #000000;
  border-radius: 4px;
}

.video__progBar::-webkit-progress-value {
  background-color: #0095ff;
  border-radius: 4px;
}

.video__fs-vol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #323232;
  width: 90px;
  height: 36px;
  border-radius: 4px;
  opacity: 0.95;
}

.videoInfo__container {
  padding: 32px 16px;
}

.videoInfo__title {
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirNextBold";
  font-family: "AvenirNextBold";
  margin-bottom: 16px;
}

.videoInfo__firstSubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 32px;
}

.videoInfo__channel {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemiBold";
  margin-right: 8px;
}

.videoInfo__date {
  font-size: 12px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
  color: #afafaf;
}

.videoInfo__secondSubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.videoInfo__views-box, .videoInfo__likes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.videoInfo__views-icon, .videoInfo__likes-icon {
  margin-right: 8px;
}

.videoInfo__views-value, .videoInfo__likes-value {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 13px;
}

.videoInfo__description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
}

.videoInfo__description-text {
  font-family: "AvenirNextRegular";
  font-size: 0.76rem;
  line-height: 1.14rem;
}

.comments {
  padding: 8px 5vw 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemiBold";
  margin-bottom: 40px;
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #e1e1e1;
}

.comments__post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.comments__post--create {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 32px;
}

.comments__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 54px;
}

.comments__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  z-index: 2;
}

.comments__image--create {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  position: absolute;
  -webkit-clip-path: rect(0px, 200px, 200px, 0px);
          clip-path: rect(0px, 200px, 200px, 0px);
}

.comments__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 234px;
}

.comments__text-box--create {
  width: 224px;
}

.comments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.comments__name {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemiBold";
}

.comments__name--create {
  font-size: 12px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
  color: #afafaf;
  font-family: "AvenirNextDemiBold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments__name-input {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  height: 48px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 24px;
  padding-left: 16px;
  color: #323232;
}

.comments__name-input::-webkit-input-placeholder {
  color: #323232;
}

.comments__name-input:-ms-input-placeholder {
  color: #323232;
}

.comments__name-input::-ms-input-placeholder {
  color: #323232;
}

.comments__name-input::placeholder {
  color: #323232;
}

.comments__name-input:focus {
  border: 2px solid #323232;
  outline: none;
}

.comments__date {
  font-size: 12px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
  color: #afafaf;
}

.comments__comment {
  font-family: "AvenirNextRegular";
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
}

.comments__comment--create {
  font-size: 12px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
  color: #afafaf;
  font-family: "AvenirNextDemiBold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments__comment-input {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  height: 96px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-top: 16px;
  color: #323232;
}

.comments__comment-input::-webkit-input-placeholder {
  color: #323232;
}

.comments__comment-input:-ms-input-placeholder {
  color: #323232;
}

.comments__comment-input::-ms-input-placeholder {
  color: #323232;
}

.comments__comment-input::placeholder {
  color: #323232;
}

.comments__comment-input:focus {
  border: 2px solid #0095ff;
  outline: none;
}

.comments__button {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  font-family: "AvenirNextDemiBold";
  height: 48px;
  border-radius: 4px;
  background-color: #0095ff;
  border: none;
  color: #ffffff;
}

.comments__button:hover {
  border: 2px solid #323232;
  background-color: #000000;
  outline: none;
}

.comments__button:focus {
  border: 2px solid #323232;
  outline: none;
}

.comments__button:active {
  border: 2px solid #323232;
  outline: none;
}

.comments__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.comments__like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__delete {
  border: 1px solid #e1e1e1;
  color: #323232;
  border-radius: 2px;
  background-color: #ffffff;
}

.comments__delete:hover {
  border-color: #323232;
  background-color: #323232;
  color: #ffffff;
  outline: none;
}

.comments__like {
  border: none;
  color: #afafaf;
  background-color: #ffffff;
}

.comments__like:hover {
  color: #323232;
}

.comments__like-value {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemiBold";
}

@media only screen and (min-width: 768px) {
  .conversation {
    padding: 48px 3.125vw 40px 3.125vw;
  }
  .conversation__title {
    font-size: 36px;
    line-height: 44px;
  }
  .conversation__container {
    padding: 0 100px;
  }
  .conversation__image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
  }
  .conversation__image-box--create {
    width: 68px;
  }
  .conversation__text-box {
    width: 470px;
  }
  .conversation__text-box--create {
    width: 462px;
  }
  .conversation__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .conversation__name {
    margin-right: 8px;
  }
  .conversation__name--create {
    font-size: 12px;
    line-height: 20px;
  }
  .conversation__name-input {
    font-size: 14px;
    line-height: 22px;
  }
  .conversation__date {
    font-size: 12px;
    line-height: 20px;
  }
  .conversation__comment--create {
    font-size: 12px;
    line-height: 20px;
  }
  .conversation__comment-input {
    font-size: 14px;
    line-height: 22px;
  }
  .conversation__button {
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (min-width: 1440px) {
  .conversation {
    padding: 48px 180px 40px 180px;
  }
}

.videoQueue {
  padding: 40px 5vw 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoQueue__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemiBold";
  margin-bottom: 32px;
  color: #afafaf;
}

.videoQueue__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.videoQueue__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.videoQueue__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 70px;
  margin-right: 16px;
}

.videoQueue__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 70px;
  border-radius: 4px;
  z-index: 2;
}

.videoQueue__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoQueue__name {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemiBold";
  margin-bottom: 8px;
}

.videoQueue__date {
  font-size: 12px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
  color: #afafaf;
}

@media only screen and (min-width: 768px) {
  .conversation {
    padding: 48px 3.125vw 40px 3.125vw;
  }
  .conversation__title {
    font-size: 36px;
    line-height: 44px;
  }
  .conversation__container {
    padding: 0 100px;
  }
  .conversation__image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
  }
  .conversation__image-box--create {
    width: 68px;
  }
  .conversation__text-box {
    width: 470px;
  }
  .conversation__text-box--create {
    width: 462px;
  }
  .conversation__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .conversation__name {
    margin-right: 8px;
  }
  .conversation__name--create {
    font-size: 12px;
    line-height: 20px;
  }
  .conversation__name-input {
    font-size: 14px;
    line-height: 22px;
  }
  .conversation__date {
    font-size: 12px;
    line-height: 20px;
  }
  .conversation__comment--create {
    font-size: 12px;
    line-height: 20px;
  }
  .conversation__comment-input {
    font-size: 14px;
    line-height: 22px;
  }
  .conversation__button {
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (min-width: 1440px) {
  .conversation {
    padding: 48px 180px 40px 180px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.material-icons.md-18 {
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */