@font-face {
  src: url("../assets/fonts/AvenirNextRegular.otf");
  font-family: "AvenirNextRegular";
}

@font-face {
  src: url("../assets/fonts/AvenirNextDemi.otf");
  font-family: "AvenirNextDemiBold";
}

@font-face {
  src: url("../assets/fonts/AvenirNextBold.otf");
  font-family: "AvenirNextBold";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 169px;
  background-color: #ffffff;
  padding: 0 16px;
}

.header__logo {
  display: block;
  height: 48px;
  padding: 8px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #afafaf;
}

.header__list-item-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  font-family: "AvenirNextRegular";
  font-weight: bold;
}

.header__list-item--active {
  color: #ffffff;
}

.header__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__search-icon {
  position: absolute;
  color: #323232;
  top: 12px;
  left: 12px;
}

.header__search-input {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  height: 49px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 8px;
  text-indent: 36px;
  color: #323232;
}

.header__search-input::-webkit-input-placeholder {
  color: #323232;
}

.header__search-input:-ms-input-placeholder {
  color: #323232;
}

.header__search-input::-ms-input-placeholder {
  color: #323232;
}

.header__search-input::placeholder {
  color: #323232;
}

.header__search-input:focus {
  border: 2px solid #323232;
  outline: none;
}

.header__button {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "AvenirNextDemiBold";
  line-height: 13px;
  width: 224px;
  height: 48px;
  border-radius: 4px;
  background-color: #0095ff;
  border: none;
  color: #ffffff;
}

.header__button:hover {
  background-color: #0065ad;
  outline: none;
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  outline: none;
}

.header__button--plus {
  font-family: "AvenirNextRegular";
  font-size: 32px;
  margin-right: 8px;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  z-index: 2;
}

.header__image--create {
  width: 48px;
  height: 48px;
  -webkit-clip-path: rect(0px, 200px, 200px, 0px);
          clip-path: rect(0px, 200px, 200px, 0px);
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 3.125vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-right: 56px;
  }
  .header__list {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__list-item {
    font-family: "AvenirNextBold";
    font-size: 24px;
    line-height: 32px;
    width: 80px;
    margin-right: 56px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 12.5vw;
  }
}

.video__player-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.video__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 0 16px;
  bottom: 8px;
  width: 100%;
}

.video__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.video__play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #323232;
  width: 52px;
  height: 36px;
  border-radius: 4px;
  opacity: 0.95;
}

.video__scrubber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #323232;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0 8px;
  height: 36px;
  border-radius: 4px;
  opacity: 0.5;
}

.video__progBar {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  margin: 0 16px;
}

.video__progBar::-webkit-progress-bar {
  background-color: #000000;
  border-radius: 4px;
}

.video__progBar::-webkit-progress-value {
  background-color: #0095ff;
  border-radius: 4px;
}

.video__fs-vol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #323232;
  width: 90px;
  height: 36px;
  border-radius: 4px;
  opacity: 0.95;
}

.videoInfo__container {
  padding: 32px 16px;
}

.videoInfo__title {
  font-size: 24px;
  line-height: 32px;
  font-family: "AvenirNextBold";
  font-family: "AvenirNextBold";
  margin-bottom: 16px;
}

.videoInfo__firstSubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 32px;
}

.videoInfo__creator {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextDemiBold";
  margin-right: 8px;
}

.videoInfo__date {
  font-size: 12px;
  line-height: 18px;
  font-family: "AvenirNextRegular";
  color: #afafaf;
}

.videoInfo__secondSubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.videoInfo__views-box, .videoInfo__likes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.videoInfo__views-icon, .videoInfo__likes-icon {
  margin-right: 8px;
}

.videoInfo__views-value, .videoInfo__likes-value {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 13px;
}

.videoInfo__description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
}

.videoInfo__description-text {
  font-family: "AvenirNextRegular";
  font-size: 0.76rem;
  line-height: 1.14rem;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.material-icons.md-18 {
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */