.videoQueue {
  padding: 40px 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: flex;
    align-self: flex-start;
    @include mob__h2;
    font-family: "AvenirNextDemiBold";
    margin-bottom: 32px;
    color: $silver;

  }
  
  &__container {
      display: flex;
      flex-direction: column;
  }

  &__post {
      display: flex;
      margin-bottom: 24px;
  }

  &__image-box {
    display: flex;
    width: 120px;
    height: 70px;
    margin-right: 16px;
  }

  &__image {
    display: flex;
    width: 120px;
    height: 70px;
    border-radius: 4px;
    z-index: 2;
  }

  &__header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    //   margin-bottom: 16px;
    
  }

  &__name {
    @include mob__h2;
    font-family: "AvenirNextDemiBold";
    margin-bottom: 8px;
  }



  &__date {
    @include mob__h5;
    
  }


}

@include tablet {
    .videoQueue {
        padding: 40px 3.125vw 40px 3.125vw;
        align-items: flex-start;

        &__text-box {
            display: flex;
            width: 177px;
            // height: 70px;
            // margin-right: 16px;
        }
    }
}

@include desktop {
    .videoQueue {
        padding: 40px 0 0 32px;
    }
}